<div class="container">
  <div class="row">
    <div class="col">
      <h2>Modificar una nueva noticia</h2>
      <form action="/admin/noticias/modificar" method="post">
        <input type="hidden" value="{{noticia.id}}" name="id">
        <div class="mb-3">
          <label class="form-label">Titulo</label>
          <input type="text" class="form-control" name="titulo" value="{{noticia.titulo}}">
        </div>
        <div class="mb-3">
          <label class="form-label">Subtitulo</label>
          <textarea class="form-control" rows="3" name="subtitulo">{{noticia.subtitulo}}</textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">Cuerpo</label>
          <textarea class="form-control" rows="3" name="cuerpo">{{noticia.cuerpo}}</textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">Link</label>
          <input type="text" class="form-control" name="link" value="{{noticia.link}}">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-secondary">Modificar</button>
        </div>

      </form>
      {{#if error}}
      <p>{{message}}</p>
      {{/if}}
    </div>
  </div>


</div>